
body 
{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main 
{
    flex: 1 0 auto;
}

div.sectionTitlewithButton 
{
    height: 64px;
}

div.sectionTitlewithButton > h4 
{
    float: left;
    margin-bottom: 0px;
}

div.sectionTitlewithButton > a 
{
    float: right;
    margin: 1.14rem 15px 0 0 ;
}

/* label focus color */
.input-field input[type=number]:focus, .input-field input[type=text]:focus
{
    border-bottom: 1px solid deepskyblue;
    box-shadow: 0 1px 0 0 deepskyblue;
}

.dropdown-content li>span
{
  color: #23a6d2;
}

.filter-inputs
{
  margin-top: 0px;
}