
body 
{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main 
{
    flex: 1 0 auto;
}

div.sectionTitlewithButton 
{
    height: 64px;
}

div.sectionTitlewithButton > h4 
{
    float: left;
    margin-bottom: 0px;
}

div.sectionTitlewithButton > a 
{
    float: right;
    margin: 1.14rem 0 0 0 ;
}

/* label focus color */
.input-field input[type=number]:focus, .input-field input[type=text]:focus
{
    border-bottom: 1px solid deepskyblue;
    box-shadow: 0 1px 0 0 deepskyblue;
}

.dropdown-content li>span
{
  color: #23a6d2;
}

.filter-inputs
{
  margin-top: 0px;
}

div.data-with-buttons 
{
  height: 50px;
}

div.data-with-buttons > h5
{
  float: left;
}

div.data-with-buttons > button 
{
  float: right;
  margin-top: 0.42rem;
  margin-left: 5px;
}

#userOutput
{
    overflow-y: scroll;
    max-height: 40vh;
}

.footer-copyright > .container 
{
    line-height: 17.75px;
}

li > .row > .col
{
    padding: 0;
}

.pad-me {
    padding-left: 0.75rem !important;
}

#subheader-bar
{
    margin-bottom: 0;
}

#subheader-bar > div, #subheader-bar > a
{
    padding-left: 10px; 
    line-height: 40px; 
    height: 100%
}

#subheader-bar > a
{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .5px;
    text-decoration: none;
    color: #fff;
}
