
div #query p, #serverNameDiv p{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.tile__header {
  display: flex;
}

.whitet {
  color: #adb6bc;
}

.title {
  color: white;
}

#query {
  margin-right: 10px;
}

#serverNameDiv{
    color:white;
    display: flex;
    white-space: nowrap;
    padding-top: 5px;
    padding-right: 10px;
}
/*
select {
  font-family: "BerninaSans", "Open Sans", sans-serif;
  
  position: relative;
  display: inline-block;  
  height: 32px;
  
  padding-top: 0;
  padding-bottom: 10;
  padding-left: 11px;
  
  font-size: 14px;
  line-height: 32px;
  line-height: -moz-block-height;
  vertical-align: middle;
  white-space: nowrap;
  text-align: left;
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  color: #454646;
}*/

